{% assign max_related = site.related_blog_posts.max_related | default: site.posts.size | plus: 0 %}
{% assign have_related_posts = false %}
{% assign shown_count = 0 %}
{% assign selected_urls = '||' %}

{% for post in site.related_posts %}
  {% if shown_count >= max_related %}
    {% break %}
  {% endif %}

  {% if shown_count < max_related and post.redirect == blank and post.url != page.url %}
    {% unless have_related_posts %}
      {% assign have_related_posts = true %}
      {% if page.layout == 'post' %}
        <br>
        <hr>
        <br>
      {% endif %}

      <!-- Adds related posts to the end of an article -->
      <h2 class="text-3xl font-semibold mb-4 mt-12">Enjoy Reading This Article?</h2>
      <p class="mb-2">Here are some more articles you might like to read next:</p>
      <ul class="list-disc pl-8">
    {% endunless %}

    <li class="my-2">
      <a class="text-pink-700 underline font-semibold hover:text-pink-800" href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </li>

    {% assign shown_count = shown_count | plus: 1 %}
    {% assign selected_urls = selected_urls | append: post.url | append: '||' %}
  {% endif %}
{% endfor %}

{% assign shuffled_posts = site.posts | shuffle %}
{% for post in shuffled_posts %}
  {% if shown_count >= max_related %}
    {% break %}
  {% endif %}

  {% assign post_marker = '||' | append: post.url | append: '||' %}
  {% unless selected_urls contains post_marker %}
    {% if shown_count < max_related and post.redirect == blank and post.url != page.url %}
      {% unless have_related_posts %}
        {% assign have_related_posts = true %}
        {% if page.layout == 'post' %}
          <br>
          <hr>
          <br>
        {% endif %}

        <!-- Adds related posts to the end of an article -->
        <h2 class="text-3xl font-semibold mb-4 mt-12">Enjoy Reading This Article?</h2>
        <p class="mb-2">Here are some more articles you might like to read next:</p>
        <ul class="list-disc pl-8">
      {% endunless %}

      <li class="my-2">
        <a class="text-pink-700 underline font-semibold hover:text-pink-800" href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </li>

      {% assign shown_count = shown_count | plus: 1 %}
      {% assign selected_urls = selected_urls | append: post.url | append: '||' %}
    {% endif %}
  {% endunless %}
{% endfor %}

{% if have_related_posts %}
  </ul>
{% endif %}
{% if site.newsletter.enabled and site.footer_fixed %}
  <p class="mb-2" style="margin-top: 1.5rem !important">Subscribe to be notified of future articles:</p>
  {% include newsletter.liquid left=true %}
{% endif %}
